<nav class="nav.navbar.navbar-light bg-primary" style="margin-bottom: 3%">
    <div class="container-fluid">
        <h1>Free API's</h1>
        <div class="d-flex" style="float: right;">
            <!-- <button (click)="clickAddEmployee()" class="btn btn-success btn-lg" type="button"  data-toggle="modal" data-target="#exampleModal">Add Employee</button> -->
        </div>
    </div>

</nav>
<table class="table table-bordered " style="margin: auto;width: 80%;border: 1px solid;">
    <thead>
        <tr>
          
            <th scope="col"> API</th>
            <th scope="col">Description</th>
            <th scope="col">Auth</th>
            <th scope="col">HTTPS</th>
            <th scope="col">Cors</th>
            <th scope="col">Link</th>
            <th scope="col">category</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of apisData">
           
            <td>{{row.Api}}</td>
            <td>{{row.Description}}</td>
            <td>{{row.Auth}}</td>
            <td>{{row.Https}}</td>
            <td>{{row.Cors}}</td>
            <td>{{row.Link}}</td>
            <td>{{row.category}}</td>
           
        </tr>
    </tbody>
</table>



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
            <!-- <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">LastName</label>
                    <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mobile no</label>
                    <input type="number" formControlName="mobile" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Salary</label>
                    <input type="text" formControlName="Salary" class="form-control" id="exampleInputPassword1">
                  </div>
                
              </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <!-- <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button> -->
          <!-- <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary" >Update</button> -->
        </div>
      </div>
    </div>
  </div>

