

<body style="padding-top: 5%;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>{{product.productName}}</th>

            </tr>
            <tr>
                <th>Category</th>
                <th>{{product.productCategory}}</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>{{product.productType}}</th>
            </tr>
            <tr>
                <th>Length</th>
                <th>{{product.productLength}}</th>
            </tr>
            <tr>
                <th>Dia(mm)</th>
                <th>{{product.productDia}}</th>
            </tr>
            <tr>
                <th>Drive Size</th>
                <th>{{product.productDrive}}</th>
            </tr>
            <tr>
                <th>Description</th>
                <th>{{product.productDesc}}</th>
            </tr>
        </thead>
    </table>
    <button class="btn btn-danger" (click)="goBack()" type="button">Back</button>
    </body>
     
    