<app-admin></app-admin>
<div class="surface-card p-4 shadow-2 border-round" style="margin: auto; width: 50%;position: absolute; top: 200px; right: 25%; ">
    <div class="text-3xl font-medium text-900 mb-3">Employee Details</div>
    
    <div style="height: 500px" class="border-2 border-dashed surface-border">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                
                <th scope="col">Profile</th>
                <th scope="col"> <img src="assets/Images/Rajaram.jpg" alt="" height="100" width="100"> </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>FullName</td>
                <td>Raja Ram</td>
                
              </tr>
              <tr>
                
                <td>Mail</td>
                <td>rajaram@kia.com</td>
               
              </tr>
              <tr>
                
                <td>Contact No</td>
                <td>6301975353</td>
               
              </tr>
              <tr>
                
                <td>DOB</td>
                <td>12/2/1995</td>
               
              </tr>
              <tr>
                
                <td>Age</td>
                <td>27</td>
               
              </tr>
              <tr>
                
                <td>Gender</td>
                <td>Male</td>
               
              </tr>
              <tr>
                
                <td></td>
                <td><a href="">More details</a></td>
               
              </tr>
            </tbody>
          </table>
    
    </div>
</div>