

<!-- Header content -->
<body>
   <div class="header">
      <div class="navbar">
            <h2><img src="/assets/kia.svg"></h2><h3>| Assembly Managment System</h3> 
      <div class="logos">
        <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>&nbsp;&nbsp;
        <i class="pi pi-bell" style="font-size: 2rem"></i>&nbsp;&nbsp;
        <i class="pi pi-user" style="font-size: 2rem"></i>&nbsp;Melapoondi.d&nbsp;
    </div>
      </div>
   </div>
</body>

<!-- sidenav bar selector  -->
<div>
   <app-sidenav></app-sidenav>
</div>


